body {
	
}

nav ul {
	list-style: none;
	padding: 0;
	text-align: right;
}

nav li {
	display: inline-block;	
}

nav a {
	color: #E94D40;
	text-decoration: 0;
/*	backface: yellow;*/
	padding: 5px;
	margin-left: 5px;
}
nav a:hover {
	transform:scale(1.25);
}